@import "tailwindcss";
@plugin "tailwindcss-animate";

* {
  transition: background-color 0.25s ease, color 0.25s ease;
}

:root {
  --background: #fafafa;
  --foreground: #0F172A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0B0F19;
    --foreground: #E5E7EB;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}
