@import "tailwindcss";
@plugin "tailwindcss-animate";

* {
  transition: background-color 0.25s ease, color 0.25s ease;
}

:root {
  /* Light mode */
  --background: #fafafa;
  --foreground: #0f172a;

  --muted: #f1f5f9;
  --muted-foreground: #64748b;

  --border: #e5e7eb;

  --primary: #2563eb;
  --primary-foreground: #ffffff;

  --success: #16a34a;
  --error: #dc2626;
  --warning: #f59e0b;
}

@theme inline {
  /* colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-border: var(--border);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-success: var(--success);
  --color-error: var(--error);
  --color-warning: var(--warning);

  /* fonts */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* When your JS sets your data-theme="dark" on <html> */
[data-theme="dark"] {
  --background: #0b0f19;
  --foreground: #e5e7eb;

  --muted: #0f172a;
  --muted-foreground: #94a3b8;

  --border: #1f2937;

  --primary: #2563eb;
  --primary-foreground: #ffffff;

  --success: #22c55e;
  --error: #ef4444;
  --warning: #fbbf24;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}